* {
    margin: 0;
    padding: 0;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("../images/mario-bg.jpg");
    background-size: cover;
}

h1, h2 {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0, 0.6);
    text-transform: uppercase;
}

#board {
    width: 540px;
    height: 540px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background-image: url("../images/soil.png");
    background-size: cover;
    border-radius: 25px;
    border: 3px solid #fff;
}

#board div {
    width: 180px;
    height: 180px;
    background-image: url("../images/pipe.png");
    background-size: cover;
}

#board div img {
    width: 100px;
    height: 100px;
}

#div-score {
    height: 80px;
}

.div-score {
    position: relative;
    animation: score 0.5s infinite alternate-reverse ease-in-out;
}

@keyframes score {
    from {
        font-size: 12pt;
    }
    to {
        font-size: 14pt;
    }
}